<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <link rel="icon" href="https://raven-sgwc.github.io/SCP-FC/assets/images/misc/BETA_WIKI.png" type="image/png">
    <meta name="description" content="This is the description for my GitHub Pages site.">
    <title id="page-title">SCP:FC BETA WIKI</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const titleElement = document.getElementById('page-title');
            const path = window.location.pathname;
            const pageName = path.substring(path.lastIndexOf('/') + 1).replace('.html', '');
            
            let title;
            switch(pageName) {
                case 'index':
                    title = 'Main Page | SCP:FC BW';
                    break;
                case 'tree':
                    title = 'All Entries | SCP:FC BW';
                    break;
                case 'anb':
                    title = 'A NEW BEGINNING';
                    break;
                case 'c':
                    title = 'CLEANER';
                    break;
                case 'coc':
                    title = 'CALL OF CTHULHU';
                    break;
                case 'dod':
                    title = 'DESCENDANT OF DARWIN';
                    break;
                case 'ec':
                    title = 'EDEN CLOCK';
                    break;
                case 'lostsoul':
                    title = 'LOST SOUL';
                    break;
                case 'p':
                    title = 'PLEONEXIA';
                    break;
                case 'rea':
                    title = 'REAL ESTAGE AGENT';
                    break;
                case 'tdk':
                    title = 'THEY DONT KNOW';
                    break;
                case 'u25':
                    title = 'UTOPIA 25';
                    break;
                case 'wwyd':
                    title = 'WHY WONT YOU DIE?';
                    break;
                case 'Template':
                    title = '';
                    break;
                default:
                    title = 'SCP:FC BETA WIKI';
            }

            titleElement.textContent = title;
            document.title = title;
        });
    </script>
  </head>

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
